<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dein persönlicher Notizblock</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"/>
</head>

<body>
    <section class="hero is-primary is-fullheight">

        <div class="hero-head">
            <div class="navbar-end">
                <a href="{{ url_for('main.index') }}" class="navbar-item">
                    Home
                </a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('main.profile') }}" class="navbar-item">
                    Profil
                </a>
                {% endif %}
                {% if not current_user.is_authenticated %}
                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                    Anmelden
                </a>
                <a href="{{ url_for('auth.signup') }}" class="navbar-item">
                    Registrieren
                </a>
                {% endif %}
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                    Abmelden
                </a>
                {% endif %}
            </div>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="card">
                  <ul class=flashes>
                  {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                  {% endfor %}
                  </ul>
                </div>
                {% endif %}
              {% endwith %}
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>